body{
    font-family: sans-serif, "Times New Roman";
    margin: 0;
}

.Cuerpo{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header{
    background-color: #898787;
}

main{
    background-color: #e6e6e6;
}

footer{
    background-color: #898787;
}

.PiePagina{
    padding: 15px;
    margin: 0;
}

.TextPagina{
    min-width: 300px;
    text-align: center;
    margin: 0;
}