*{
    box-sizing: border-box;
}

.main-content{
    max-width: 63%;
}

.text-pretty{
    text-wrap: pretty;
    text-align: justify;
}

.padding-pequeño{
    padding: 0.25rem 0.5rem;
}

figure:hover{
    transform: translateY(-3px) translateX(-2px);
    box-shadow: 8px 8px 0px 0px #282828;
}

